body {
    background: #fff0f6;
    margin: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.surprise-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a{
    text-decoration: none;
    color: inherit;
}
.surprise-btn {
    padding: 1em 2em;
    font-size: 1.5em;
    background: #ff69b4;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-top: 2em;
    transition: background 0.3s ease-in-out;
}

.surprise-btn:hover {
    background: #ff1493;

}

@media (max-width: 420px) {
    
}